@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200&family=Fredoka:wght@300&family=Montserrat:wght@200;400&family=Open+Sans:wght@300;400&family=Poppins:wght@200;300;400&display=swap');
.portfolio-container{
  height: fit-content;
  width: 100%;
  box-sizing: border-box;
  font-family: Montserrat;
  text-align: center;
  color: rgb(2, 42, 65);
  padding: 55px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.portfolio-container h1{
  margin: 10px 0;
  font-size: 45px;
  font-weight: bolder;
}
section .divider-line span {
  color: rgb(2, 42, 65);
}
.cards-container {
  width: 98%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


@media screen and (max-width: 600px) {

}